@import url("https://fonts.googleapis.com/css?family=Coda&display=swap");

.parent {
  width: 100vw;
  height: 100vh;
  background: grey;
}

.button-container {
  height: 1vh;
  width: 30vw;
  background: dimgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4.5vh;
}


.buy-sell-button {
  height: 23px;
  margin: 1px 5px;
  border-radius: 15%;
  border-width: 2px;
  border-color: rgba(49, 47, 47, 0.932);
  font-family: "Coda", sans-serif;
  color: #333029;
  font-size: 12px;
  transition: 0.3s all ease;
}
.buy-sell-button:hover {
  border-color: darkcyan;
  color: darkcyan;
}
.buy {
  background-color: seagreen;
}
.sell {
  background-color: indianred;
}

.keep {
  background-color: #cd853f;
}

.bskCell {
  display: flex;
  flex-direction: row;
}

.recommendation {
  height: 25px;
  border-radius: 5%;
  border-color: black;
  border-width: thin;
  width: 60px;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Coda",sans-serif;
  font-size: medium;
  color: #333029;
}

.sliderContainer {
  max-height: 150px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;

}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  text-decoration: line-through;
}