.parent {
  width: 100vw;
  height: 100vh;
  background: grey;
}

.button-container {
  height: 10%;
  background: dimgray;
}

.ag-theme-balham-dark {
  height: 90%;
}

.cremeButton-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cremeButton {
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 10px;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Courier New;
  height: 5vh;
  width: 5vw;
  font-size: 0.7vw;
  font-weight: bold;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.cremeButton:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.cremeButton:active {
  position: relative;
  top: 1px;
}
.btn {
  height: 20;
}
.recommendation {
  width: 60px;
  background-color: orange;
  margin-right: 20px;
}
