@import url("https://fonts.googleapis.com/css?family=Coda&display=swap");

.parent {
  width: 100vw;
  height: 100vh;
  background: grey;
}

.button-container {
  height: 10%;
  background: dimgray;
}

.ag-theme-balham-dark {
  height: 90%;
}

.cremeButton-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cremeButton {
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 10px;
  border: 3px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Courier New;
  height: 5vh;
  width: 5vw;
  font-size: 0.7vw;
  font-weight: bold;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}
.cremeButton:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.cremeButton:active {
  position: relative;
  top: 1px;
}
.buy-sell-button {
  height: 23px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15%;
  border-width: 2px;
  border-color: rgba(49, 47, 47, 0.932);
  font-family: "Coda";
  color: #333029;
  font-size: 1.1em;
  transition: 0.3s all ease;
}
.buy-sell-button:hover {
  border-color: darkcyan;
  color: darkcyan;
}
.buy {
  background-color: seagreen;
}
.sell {
  background-color: indianred;
}

.keep {
  background-color: peru;
}

.bskCell {
  display: flex;
  flex-direction: row;
}

.recommendation {
  height: 25px;
  border-radius: 5%;
  border-color: black;
  border-width: thin;
  width: 60px;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Coda";
  font-size: medium;
  color: #333029;
}
